/* extra.css */
[data-md-color-scheme="dracula"] {
  --md-default-bg-color: #282a36;
  --md-default-fg-color: #f8f8f2;
  --md-default-fg-color--light: #f8f8f2;
  --md-default-fg-color--lighter: #6272a4;
  --md-code-bg-color: #44475a;
  --md-code-fg-color: #f8f8f2;
  --md-primary-fg-color: #bd93f9;   /* purple */
  --md-accent-fg-color: #ff79c6;    /* pink */
  --md-typeset-a-color: #8be9fd;    /* cyan links */
}